* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  body {
    font-family: "inter";
  }
  
  nav {
    position: fixed;
    top: 0;
    background: #ffffff;
    box-shadow: 0px 8px 32.4px rgba(0, 0, 0, 0.25);
    width: 100%;
    z-index: 10000;
  }
  
  label.logo {
    padding: 0 45px;
    cursor: pointer;
  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
  }
  nav ul li a {
    display: flex;
    color: black;
    font-weight: 400;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
  }

  /* Navbar Button Book A Demo */
  nav .cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: ghostwhite;
    overflow: hidden;
  }
  nav .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
  }
  
  nav .cssbuttons-io::before,
  nav .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  nav .cssbuttons-io::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  
  nav .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
  }
  
  nav .cssbuttons-io:active {
    transform: scale(0.95);
  }
  .checkbtn {
    font-size: 30px;
    color: #7500ff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }
  @media (max-width: 952px) {
    nav {
      width: 100%;
    }
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a {
      font-size: 16px;
    }
  }
  @media (max-width: 1066px) {
    .checkbtn {
      display: block;
    }
    ul {
      position: fixed;
      width: 50%;
      height: 100vh;
      background: #1b102ef6;
      top: 90px;
      left: -100%;
      /* display: none; */
      text-align: center;
      transition: all 0.5s;
      z-index: 2;
    }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 20px;
      color: #ffffff;
    }
/*     a:hover,
    a.active {
      background: none;
      color: rgb(185, 145, 218);
    } */
    #check:checked ~ ul {
      left: 0;
    }
  }
  @media (max-width: 1255px) {
    .slide img {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 588px) {
    nav {
      height: 90px;
    }
    .slideimage .images {
      height: 50vw;
    }
  
    /* .slide img {
      margin-top: 10px;
      width: 100%;
    }
    #slider-container {
      width: 100%;
    } */
  
    .logo img {
      float: left;
      margin-top: 10px;
      width: 5em;
      height: 2.1em;
    }
  }
  @media (max-width: 300px) {
    nav {
      height: 80px;
    }
    label.logo {
      padding: 0 5px;
    }
  }
  .buttoncallus {
    width: 100%;
    padding: 2vw 0;
  }
  .book-a-demo {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .demo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .img {
    width: 100%;
    height: 95vh;
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 15px;
    margin-top:80px;
  }
  
  .img img {
    width: 100%;
    height: 100%;
  }
  
  .call {
    margin-top: 2vw;
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    /* height: 40vh; */
    justify-content: center;
    /* align-items: center; */
    /* margin-top: 2rem; */
    /* padding: 11px;/ */
  
    background-color: #e6e6e6;
    /* gap: 11px; */
  }
  .callUs {
    width: 100%;
    /* background-color: #bc8df4; */
    height: 4vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    color: #680dd6;
    /* text-shadow: 10px 5px 10px #00000054; */
    text-transform: uppercase;
    font-family: "inter";
    font-size: 45px;
    font-weight: 800;
  }
  
  .textfull {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    /* background-color: #2bc559; */
  }
  
  .textfull span {
    /* background-color: #9a60df; */
    padding: 20px;
    color: #484849;
    font-family: "inter";
    font-size: 25px;
    font-weight: 400;
    width: 50%;
    text-align: center;
  }
  
  .buttondiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    /* background-color: #680dd6; */
  }
  .mainbutton {
    width: 50%;
    /* background: #000; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .mainbutton .Interactwithus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 10px;
    background-color: #000000;
    color: white;
    border-radius: 20px;
    padding: 2px 10px;
    /* font-size: 10px; */
    transition: 0.5s;
    font-size: 20px;
    cursor: pointer;
  }
  .Interactwithus h3 {
    width: 100%;
    padding: 10px;
  }
  .mainbutton .Interactwithus a{
    color: white;
    text-decoration: none;
  }
  .mainbutton .Interactwithus:hover a{
    font-size: 22px;
    transition: 0.5s;
    /* opacity: 0.8; */
    color: #bc8df4;
  }
  
  @media (max-width: 900px) {
    /* body{
      /* height: 100vh; */
  
    .book-a-demo {
      width: 100%;
      display: flex;
      justify-content: center;
      /* height: 100vh; */
    }
  
    .demo-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .bookademo {
      width: 100%;
    }
    .img {
      width: 100%;
      height: 70vw;
      display: flex;
      position: relative;
      justify-content: center;
      padding: 15px 0;
    }
  
    /* img {
      width: 100%;
      height: 100%;
    } */
  
    .call {
      margin-top: 2vw;
      display: flex;
      /* flex-direction: column; */
      width: 100%;
      /* height: 55vh; */
      /* height: 40vh; */
      justify-content: center;
      /* align-items: center; */
      /* margin-top: 2rem; */
      /* padding: 11px;/ */
  
      background-color: #92929244;
      /* gap: 11px; */
    }
    .callUs {
      width: 100%;
      /* background-color: #bc8df4; */
      height: 20px;
      /* padding: 1vw; */
      text-align: center;
      padding: 10vw 0;
      display: flex;
      align-items: center;
      /* font-size: 15px; */
      justify-content: center;
      /* background: #000; */
    }
    h2 {
      width: 100%;
      /* background-color: #9a60df; */
      color: #680dd6;
      /* text-shadow: 10px 5px 10px #00000054; */
      text-transform: uppercase;
      font-family: "inter";
      font-size: 5.5vw;
      font-weight: 800;
    }
  
    .textfull {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25vh;
      /* background-color: #2bc559; */
    }
  
    .textfull span {
      padding: 20px;
      text-align: center;
      color: #484849;
      font-family: "inter";
      font-size: 25px;
      font-weight: 500;
      width: 80%;
    }
    .mainbutton {
      width: 100%;
    }
    .mainbutton .Interactwithus {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      margin-bottom: 10px;
      background-color: #000000;
      color: white;
      border-radius: 20px;
      padding: 2px 10px;
      /* font-size: 10px; */
      transition: 0.5s;
      /* font-size: 20px; */
      cursor: pointer;
    }
    .Interactwithus h3 {
      font-size: 20px;
    }
  }
